$b1: #8338ec;
$b2: rgba(170, 128, 228, 0.867);
$b3: rgb(120, 104, 186);
$b4: #431386;

.container {
  align-items: center;
  background-color: $b1;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.container_choose {
  background: $b4;
  box-sizing: border-box;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 0.2fr 0.6fr 0.2fr;
  gap: 0.5rem;
  height: 220px;
  left: 50%;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 220px;

  p {
    color: #fff;
    margin: 0;
    text-align: center;
  }
}

.choose {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  padding: 0 1rem;
}

.choose_green,
.choose_yellow,
.choose_red,
.choose_blue {
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  height: 100px;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }
}

.choose_green {
  background-color: green;
}

.choose_yellow {
  background-color: yellow;
}

.choose_red {
  background-color: red;
}

.choose_blue {
  background-color: blue;
}

.choose_button {
  align-items: center;
  background-color: #7cb1ac;
  border: none;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-self: center;
  gap: 0.4rem;
  height: 25px;
  width: 85%;
}

.container_middle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.middle_options {
  align-items: center;
  display: flex;
  gap: 1rem;

  p {
    border: 1px solid $b2;
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem 0.7rem;
  }

  button {
    background-color: rgb(90, 66, 185);
    border: none;
    border-radius: 4px;
    color: $b2;
    cursor: pointer;
    height: 30px;
    width: 100px;

    &:hover {
      background-color: $b3;
    }

    &:disabled {
      background-color: $b2;
      color: #000;
    }
  }
}

.middle_single_option {
  button {
    background: #ccc;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    height: 30px;
    width: 150px;

    &:hover {
      background-color: #fff;
    }
  }
}

.middle_center {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 250px;
  justify-content: center;
  width: 350px;
}

.middle_cards {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.maxWidth {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  p {
    color: $b2;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0.4rem 0;
  }
}

.playerTwo {
  display: flex;

  p {
    color: $b2;
    display: inline;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 0.4rem;
    text-align: center;
    writing-mode: vertical-lr;
  }
}

.playerFour {
  display: flex;

  p {
    color: $b2;
    display: inline;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 0.4rem;
    text-align: center;
    writing-mode: vertical-lr;
    transform: scale(-1);
  }
}

.winner {
  align-items: center;
  background-color: $b1;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;

  p {
    font-size: 2.5rem;
    margin: 0;
  }
}
