$cards: 10;

.containerLeft {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 500px;
  left: 20px;
  padding: 0.5rem 0;
  position: relative;
  top: calc($cards * 6px);
}

.containerRight {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 500px;
  right: 20px;
  padding: 0.5rem 0;
  position: relative;
  top: calc($cards * 6px);
}