$borderC: #9d5df7;
$cards: 7;

.container {
  border-right: 3px solid $borderC;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
  width: 110px;
}

.cards {
  position: absolute;
  width: 100px;

  img {
    height: 150px;
  }

  &:nth-child(1) {
    top: 0;
    z-index: 1;
  }

  @for $i from 1 to $cards + 1 {
    @if ($cards > 15) {
      &:nth-child(#{$i}) {
        top: ($i - 1) * (30px - $cards);
        z-index: $i * 1;
      }
    } @else if ($cards > 10) {
      &:nth-child(#{$i}) {
        top: ($i - 1) * (35px - $cards);
        z-index: $i * 1;
      }
    } @else if($cards > 5) {
      &:nth-child(#{$i}) {
        top: ($i - 1) * (40px - $cards);
        z-index: $i * 1;
      }
    } @else {
      &:nth-child(#{$i}) {
        top: ($i - 1) * (45px - $cards);
        z-index: $i * 1;
      }
    }
  }
}
