$borderC: #9d5df7;

.container {
  border-bottom: 3px solid $borderC;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 160px;
  padding: 0 0.5rem;
  position: relative;

  width: 400px;
}

.maxThree {
  @for $i from 1 to 4 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 45px;
      z-index: ($i) * 1;
    }
  }
}

.maxSix {
  @for $i from 1 to 7 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 35px;
      z-index: ($i) * 1;
    }
  }
}

.maxTen {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 27px;
      z-index: ($i) * 1;
    }
  }
}

.max {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 20px;
      z-index: ($i) * 1;
    }
  }
}

.cards {
  height: 150px;
  max-width: 100px;
  min-width: 100px;
  position: absolute;

  img {
    height: 150px;
  }
}
