$b1: #8ecae6;

.containerDown {
  background-color: $b1;
  box-sizing: border-box;
  display: flex;
  height: 150px;
  padding: 0 0.5rem;
  position: relative;
  width: 600px;
}

.containerTop {
  background-color: $b1;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  padding: 0 0.5rem;
  position: relative;
  width: 500px;
}

