.containerPlayer {
  border: 1px solid black;
  bottom: 20px;
  height: 150px;
  position: absolute;
  max-width: 100px;
  min-width: 100px;
}

.containerLeft {
  border: 1px solid black;
  max-height: 100px;
  min-height: 100px;
  position: absolute;
  width: 150px;

}

.containerRight {
  border: 1px solid black;
  max-height: 100px;
  min-height: 100px;
  position: absolute;
  right: 50px;
  width: 150px;
}

.containerTop {
  border: 1px solid black;
  height: 150px;
  max-width: 100px;
  min-width: 100px;
  position: absolute;
}