$borderC: #9d5df7;
$cards: 12;

.container {
  border-top: 3px solid $borderC;
  border-radius: 10px;
  display: flex;
  height: 160px;
  justify-content: center;
  padding: 0 0.5rem;
  position: relative;
  width: 400px;
}

.maxThree {
  @for $i from 1 to 4 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 45px;
      z-index: ($i) * 1;
    }
  }
}

.maxSix {
  @for $i from 1 to 7 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 35px;
      z-index: ($i) * 1;
    }
  }
}

.maxTen {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 27px;
      z-index: ($i) * 1;
    }
  }
}

.max {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      left: ($i - 1) * 20px;
      z-index: ($i) * 1;
    }
  }
}

.cards {
  bottom: 0px;
  cursor: pointer;
  height: 150px;
  max-width: 100px;
  min-width: 100px;
  position: absolute;

  img {
    height: 150px;
  }

  &:hover {
    animation: 0.5s cardHoverPlayer forwards ease-out;
    z-index: 100;
  }

  &:not(hover) {
    animation: 0.2s cardNotHoverPlayer forwards ease-out;
  }
}

@keyframes cardHoverPlayer {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 15px;
  }
}

@keyframes cardNotHoverPlayer {
  0% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
