$cards: 8;

.containerDown {
  bottom: 20px;
  box-sizing: border-box;
  display: flex;
  height: 150px;
  justify-content: center;
  padding: 0 0.5rem;
  position: relative;
  right: 170px;
}

.containerTop {
  bottom: -20px;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  padding: 0 0.5rem;
  position: relative;
  right: 170px;
}
