$borderC: #9d5df7;

.container {
  border-left: 3px solid $borderC;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
  width: 110px;
}

.maxThree {
  @for $i from 1 to 4 {
    &:nth-child(#{$i}) {
      top: ($i - 1) * 40px;
      z-index: ($i) * 1;
    }
  }
}

.maxSix {
  @for $i from 1 to 7 {
    &:nth-child(#{$i}) {
      top: ($i - 1) * 30px;
      z-index: ($i) * 1;
    }
  }
}

.maxTen {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      top: ($i - 1) * 25px;
      z-index: ($i) * 1;
    }
  }
}

.max {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) {
      top: ($i - 1) * 20px;
      z-index: ($i) * 1;
    }
  }
}

.cards {
  align-self: flex-end;
  position: absolute;

  img {
    height: 150px;
  }
}
