.container {
  cursor: pointer;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100px;

  img {
    height: 150px;
  }
}

.noCards {
  background-color: green;
  display: flex;
  height: 150px;
  width: 100px;
}
